/* Stylesheet */

body {
    background-image: url(../img/wallup-28811.jpg);
    background-size: cover;
    font-family: 'dosis';
    text-align: center;
    font-size: 10px;
}

h1 {
    color: white;
    text-align: center;
    opacity: .4;
}

body {
    margin: 0;
    font-size: 2rem;
    display: block;
    min-height: 100vh;
    align-items: center;
}

.clock {
    opacity: .35;
    width: 30rem;
    height: 30rem;
    border: 10px solid white;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
}

.hand {
    width: 50%;
    height: 10px;
    border-radius: 20px;
    background: grey;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, .58, 1);
}
